<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!--
	the data for this file comes from `CertificateTool/CertificateTool/AppleBaselineEscrowCertificates.h`
	in `security_certificates`, an open source APSL-licensed Apple repository for the certificates
	used to generate the data used for Security's `Certificates.bundle`
-->

<dict>
	<key>ProductionEscrowKey</key>
	<array>
		<data>
			MIID0DCCArigAwIBAgIBZDANBgkqhkiG9w0BAQsFADB5MQwwCgYDVQQFEwMx
			MDAxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQL
			Ex1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEfMB0GA1UEAxMWRXNj
			cm93IFNlcnZpY2UgUm9vdCBDQTAeFw0xMzA4MDIyMzI0NDRaFw0yMzA4MDIy
			MzI0NDRaMHkxDDAKBgNVBAUTAzEwMDELMAkGA1UEBhMCVVMxEzARBgNVBAoT
			CkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0
			aG9yaXR5MR8wHQYDVQQDExZFc2Nyb3cgU2VydmljZSBSb290IENBMIIBIjAN
			BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0KP0Vn0/RjHSVqDfQqApgx65
			grWl/z7etQ9Kiihgz3W0oHB89eKU8yICyIHONMdmahiqtP1tsAvdSt3P4Agb
			HKbburLBpBBfNU+Li3qj2zz2VJVCrSo7/gaM4ZLxYJdYG9mPvvtGTClcHPAg
			tiulEgmbKEE0l5/ziEtpcuo6J7BQHYgpDbvtBKIRzwxbZWE1vfIN/OK5INO3
			A3A51eCGfATMyaGFtJu8iE7XrVz/LA2AjlE5IIuvHkaV+g0b0r+A4J9tSvUx
			ZxgRpWMnCO7ZBynQ1DaRW/tKCwfRDXkWbhYCI4DGFQdtoAa2RZCwrqStDnUE
			Kyt48VeEI4ck7FjE8QIDAQABo2MwYTAPBgNVHRMBAf8EBTADAQH/MA4GA1Ud
			DwEB/wQEAwIBBjAdBgNVHQ4EFgQU/XiWU4DW9tymw1kGOO15Po9QG1AwHwYD
			VR0jBBgwFoAU/XiWU4DW9tymw1kGOO15Po9QG1AwDQYJKoZIhvcNAQELBQAD
			ggEBAHEVyofQLbUY1TV6zd9iKPALY01OAro9uLQ36rCTk6sc/Z/ocr/z2+at
			Fv5xYaha0FgPZXpXeuA0gI67QQHnsDv3KzptRCo6BFL6K3s7Id0McD37RcZ5
			aGLiibgl7mN2ArIi6VOFaD51tgtl6Ry6hJOwiu+1GhLkj67VXKEFSgG8b/lY
			XvcEYe71xqAbRC5aOlmhs7D0tsvgbCtZivtq4KJXCXnB3fuEhutmKXOuv1iu
			R01IN9axjF8mX7UmBwuFtzY3FM9eVaU88x55ULuFO7KUaLAlT3Xs8PnAWi3l
			7WfNiFWgQt54vP4wsWIt4f3sdQOmH3zEOkpZ/nfDmZaHRMM=
		</data>
		<data>
			MIID0DCCArigAwIBAgIBZTANBgkqhkiG9w0BAQsFADB5MQwwCgYDVQQFEwMx
			MDExCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQL
			Ex1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEfMB0GA1UEAxMWRXNj
			cm93IFNlcnZpY2UgUm9vdCBDQTAeFw0xNTA1MTYwNTI4MjFaFw00OTA1MTYw
			NTI4MjFaMHkxDDAKBgNVBAUTAzEwMTELMAkGA1UEBhMCVVMxEzARBgNVBAoT
			CkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0
			aG9yaXR5MR8wHQYDVQQDExZFc2Nyb3cgU2VydmljZSBSb290IENBMIIBIjAN
			BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1KbwAZfaCH2l+bVInU5MMFpn
			5BJvTDZLxuEfa0HyRiENcT3PtGxnkps3OSQl0nv/VPJESgji5bK3yVbOJS5B
			u+3MJI4FDyjf46vKoXzM5mYViddcaDVIndPagI7n7hVzZ9Kx+bMJT7ovCXbu
			nwgNjjRtFEvXVxfj7CNuw6G9L8MinQ6OZ414uVDLCIKrrJCRRYYYfAr1uiJn
			S+1fwJKzBwZkp9oRE/jdoKj8yfCl8aWQ+RPa+QcW1jjMIjc3QrNqY6p2nrOH
			pDY741QgADOTCSxGnmmGg9jpwEJbBBYN4oafVw+3Vrhu4FjYeN6s8VIHSaXJ
			l28mSTVxFDgRPnZ82QIDAQABo2MwYTAPBgNVHRMBAf8EBTADAQH/MA4GA1Ud
			DwEB/wQEAwIBBjAdBgNVHQ4EFgQUjMgPoVWwhHuNwZmM808YtQ+DgG8wHwYD
			VR0jBBgwFoAUjMgPoVWwhHuNwZmM808YtQ+DgG8wDQYJKoZIhvcNAQELBQAD
			ggEBAEONqIZ3t/Wo2OUy5eeqmQRM0oaBS3KJukAUrXXbob/DcyKvrjOssxNi
			sj3K07xFesK8LMqhP9lSqFTCRLhrpcr0ffbjCx84FmfxC6gq3HLIhztEVfcP
			BFdn8RGRoNJ47Iy7diRmT6H+u94AAZ8wGCcy///2m+pDNmcvg5dN6E6cwe4k
			yCFy+xKpLmXehLj/xKvbXTrpPI8cJmVfNFCyYHaLQmRaWerRTiP0yCiPYOV1
			NjtMOMkPzVR5Rx3DL5szOZ9Q0gtoPYrKH1qlXilolsIeArqPnFWzLiQsWNis
			5PBs3hZHNw2oXAlLI00h/f/NUNVZDjdj0KXHv92I84GxP04=
		</data>
		<data>
			MIID0DCCArigAwIBAgIBZjANBgkqhkiG9w0BAQsFADB5MQwwCgYDVQQFEwMx
			MDIxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQL
			Ex1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEfMB0GA1UEAxMWRXNj
			cm93IFNlcnZpY2UgUm9vdCBDQTAeFw0xNjA1MTMwNzI3MTFaFw00OTA1MTMw
			NzI3MTFaMHkxDDAKBgNVBAUTAzEwMjELMAkGA1UEBhMCVVMxEzARBgNVBAoT
			CkFwcGxlIEluYy4xJjAkBgNVBAsTHUFwcGxlIENlcnRpZmljYXRpb24gQXV0
			aG9yaXR5MR8wHQYDVQQDExZFc2Nyb3cgU2VydmljZSBSb290IENBMIIBIjAN
			BgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1ztUixFa5usiZy6yWs/gvMGY
			laAm9DAgfBzTXeinCPe3eFVR696df+n1rfEk4CvC18GqIZ0aWVuGfk1I7P6I
			qgs9qOMW0fRfll0ZX4mYVEabwRQuYAOnUC6ROsnMqH6/mWoWIAKFaS97hOoY
			7p2WumaXPZOIkC2cjnIZmjqGtfGbGLR/GZMxkPPXncdvXPGAI5WZASFT5T4Y
			Kn2+k0jSOtv0nkzamSCnXtY+YxXurDhI8wn7bZzS0g6/th4B82QwV75NI4t7
			VTU3Dx0KD4M4bmH83Rn4ge2TaMLdetrJNPq4eMzxOzWDXhEexI/khvO5VmXs
			Tpp1Pc6zGZBb8FsABwIDAQABo2MwYTAPBgNVHRMBAf8EBTADAQH/MA4GA1Ud
			DwEB/wQEAwIBBjAdBgNVHQ4EFgQURJAIPD7pBqzn6oFb06S9LusW1TkwHwYD
			VR0jBBgwFoAURJAIPD7pBqzn6oFb06S9LusW1TkwDQYJKoZIhvcNAQELBQAD
			ggEBAD5fzbu/fLvT9pL3IfEs5GTV24wowD3ImF3PIDkRtR4gBl68WeswX1ix
			V+9HevZR3jzAzfgGAgwp5t0tzonxBMXkjgsNlj69NMavoLLh4YU3+8vyqb61
			uRhYMZdknTcg9EaDoi6qbNs9h/rZ1IUksimMG15RxGDFQNwlAEOyXbVwsv3w
			JyrgSwRaOCr7YLxmfsMWtohpELjjmUP1ecXF8IKW9gVokzqmRbfrTV2tBAxr
			8HsQDot4QJifUu/qpCaq7VdStTQyJqcujPsTMjpjsNle4ucPsoDh3tbV0hKV
			EgRy0ANPtsAlSurNP7lfjjhkAni8cr2kf2E5rb9ljfYFw9I=
		</data>
	</array>
	<key>ProductionPCSEscrowKey</key>
	<array>
		<data>
		MIID2DCCAsCgAwIBAgIBZDANBgkqhkiG9w0BAQsFADB9MQwwCgYDVQQFEwMx
		MDAxCzAJBgNVBAYTAlVTMRMwEQYDVQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQL
		Ex1BcHBsZSBDZXJ0aWZpY2F0aW9uIEF1dGhvcml0eTEjMCEGA1UEAxMaRWZm
		YWNlYWJsZSBTZXJ2aWNlIFJvb3QgQ0EwHhcNMTQwNzI4MjEwMzUyWhcNMjQw
		NzI4MjEwMzUyWjB9MQwwCgYDVQQFEwMxMDAxCzAJBgNVBAYTAlVTMRMwEQYD
		VQQKEwpBcHBsZSBJbmMuMSYwJAYDVQQLEx1BcHBsZSBDZXJ0aWZpY2F0aW9u
		IEF1dGhvcml0eTEjMCEGA1UEAxMaRWZmYWNlYWJsZSBTZXJ2aWNlIFJvb3Qg
		Q0EwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDAVcx0z0np7Jp2
		FzASQH3BaZiXLKfA1vSaHcJGdbatgeIvZfGv9rq9wUQ3k7iSKoPM42/9laqG
		rk1imLzmkEBbWi5lDP8HuXnELi5ygOO5mAjpO3k7RpnXud8fxA1JuXg5r3/1
		3JzuwbCQcJfW50kMERnp3eo4MLkd9Nf/u/xrSfxp6AWOlhSHYtaCL6KXtUqA
		RkP18huUv/5Ii39N1j0+ZL4JfJ4kgN6ryReRrGAGmJzLrQRBH3/lwgjVgNdj
		8VxgouWtX268OsSfTeRlo/IYCxottGQ9U1oU9iaSEyODM77gpEP8eaCR+xwX
		8IfljGjyz647xdXSWI77KVP+nt5PAgMBAAGjYzBhMA8GA1UdEwEB/wQFMAMB
		Af8wDgYDVR0PAQH/BAQDAgEGMB0GA1UdDgQWBBRkC+Ryc1xUslhZrkLfK7e6
		ueuGrjAfBgNVHSMEGDAWgBRkC+Ryc1xUslhZrkLfK7e6ueuGrjANBgkqhkiG
		9w0BAQsFAAOCAQEAefQiyWwlZC2OkVN7+6fSDK3cqYOQdRaYwSz+fBbOKqC4
		ivbbPi1sXWFBELsCulFbQmIYn8Ql8yTMHdL/R7IUnmoxo6exDH5VzsSepgoG
		m1BABBOgx0032YXPstkWOEujpT7cBg3gsRN8i3kfZ9i6tFichBjk7SIXQak7
		iNVVVF8zTeK9vmZGWcBgxbJ69srNuS29ULPWGNUf+kIwTBD7EqmaDjn6d7aC
		U/M1dLUQWiKuFyXRCblxCKH6LbnqjMWsMWxFRi4RLXUHiDmjFAimv3ssJq4o
		6R1s/6yZU0SRJi6CGhFmtZzvnsFSj84S84iGBvDoYmkSBG0rdYPhEvw+8Q==
		</data>
	</array>
</dict>
</plist>
